@page
@model RazorBoatApp2026.Pages.Bookings.CreateBookingModel
@{
    ViewData["Title"] = "Create a booking";
}
<h1>Create booking</h1>

<form method="post">
    <div class=" form-group">
        <label>Boat Id</label> : @Model.BookedBoat.Id<br>
        <label>Boat SailNumber</label> : @Model.BookedBoat.SailNumber<br>
        <label>Boat Model</label> : @Model.BookedBoat.Model<br>
        <label>Boat YearOfConstruction</label> : @Model.BookedBoat.YearOfConstruction<br>

        <label asp-for="@Model.Id" class="control-label"></label>
        <input asp-for="@Model.Id" class="form-control" />
        <label asp-for="@Model.PhoneNumber" class="control-label"></label>
        <input asp-for="@Model.PhoneNumber" class="form-control" />
        <label asp-for="@Model.Destination" class="control-label"></label>
        <input asp-for="@Model.Destination" class="form-control" />
        <label asp-for="@Model.StartDate" class="control-label"></label>
        <input asp-for="@Model.StartDate" class="form-control" />
        <label asp-for="@Model.EndDate" class="control-label"></label>
        <input asp-for="@Model.EndDate" class="form-control" />

        <input type="submit" value="Create Booking" asp-page-handler="Book" asp-route-sailNumber="@Model.BookedBoat.SailNumber" class="btn-primary" />
        <input type="submit" value="Cancel" asp-page-handler="Cancel" class="btn-warning" />
    </div>
</form>
